html {
	scroll-behavior: smooth;
	width: 100%;
	height: auto;
	min-height: 100%;
	font-size: 16px;
}

body {
	font-family: "Stolzl", sans-serif;
	color: var(--color-text);
	background: var(--color-bg);
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100dvh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../images/body/ellipse_centr_mob.webp),
		url(../images/body/pattern.webp), url(../images/body/ellipse300.webp),
		url(../images/body/ellipse_bottom_mob.webp);
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-size: cover, contain, 352px 452px, contain;
	background-position: top center, bottom center, bottom 50px left -50px,
		bottom center;
}


@media screen and (min-width: 1024px) {
	body {
		background-image: url(../images/body/ellipse_top_desk.webp),
			url(../images/body/pattern.webp), url(../images/body/ellipse_left_desk.webp),
			url(../images/body/ellipse_right_desk.webp), url(../images/body/ellipse_centr_desk.webp);
		background-repeat: no-repeat, no-repeat, no-repeat, no-repeat,no-repeat;
		background-size: contain, contain, 500px 500px,  352px 442px, contain;
		background-position: top -10% center, bottom center, bottom left -50px,
		top 65% right,top 80% center;
	}
}

@media screen and (min-width: 1512px) {
	body {
		background-image: url(../images/body/ellipse_top_desk.webp),
			url(../images/body/pattern.webp), url(../images/body/ellipse_left_desk.webp),
			url(../images/body/ellipse_right_desk.webp), url(../images/body/ellipse_centr_desk.webp);
		background-repeat: no-repeat, no-repeat, no-repeat, no-repeat,no-repeat;
		background-size: contain, contain, 600px 600px,  600px 600px, contain;
		background-position: top -20% center, bottom center, bottom left -50px,
		top 80% right,top 80% center;
	}
}

@media screen and (min-width: 1850px) {
	body {
		background-image: url(../images/body/ellipse_top_desk.webp),
			url(../images/body/pattern.webp), url(../images/body/ellipse_left_desk.webp),
			url(../images/body/ellipse_right_desk.webp), url(../images/body/ellipse_centr_desk.webp);
		background-repeat: no-repeat, no-repeat, no-repeat, no-repeat,no-repeat;
		background-size: contain, contain, 700px 700px,  700px 700px, contain;
		background-position: top -40% center, bottom center, bottom left -50px,
		top 80% right,top 80% center;
	}
}

.container {
	position: relative;
	width: 100%;
	min-height: 100dvh;
	overflow: hidden;
	z-index: 10;
	margin: 0 auto;
}

